html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow: hidden; */
  background-color: #000;
  overscroll-behavior: none;
}

#iframeWrapper {
  display: flex;
  width: auto;
  height: 100%;
  max-width: 1280px;
  max-height: 720px;
  aspect-ratio: 16/9;
  position: fixed;
  z-index: 10;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0px 0px 8px #000;
  overflow: hidden;
}

iframe {
  width: 100%;
  height: 100%;
  border: none;
}

html {
  -ms-touch-action: none;
}

body,
div {
  display: block;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Remove spin of input type number */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  border: 0;
  margin: 0;
}

.blur {
  position: fixed;
  z-index: 1;
  -webkit-filter: blur(10px);
  filter: blur(10px);
  width: 100%;
  height: 100%;
  background-image: url(./public/bg.png);
  background-size: contain;
  background-position: center;
}

:root {
  --safe-top: env(safe-area-inset-top);
  --safe-right: env(safe-area-inset-right);
  --safe-bottom: env(safe-area-inset-bottom);
  --safe-left: env(safe-area-inset-left);
}

@media (max-aspect-ratio: 16/9) {
  #iframeWrapper {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
  }
}

#swipe {
  width: 100%;
  height: 200%;
}

.swipe {
  /* height: 300%;
  background-color: #000;
  opacity: 0.5;
  color: #fff;
  position: relative; */
  /* z-index: 1000; */
}

.fullscreen-icon {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 90px;
  height: 179px;
  background-image: url(./public/swipe-up.png);
  animation: fullscreen-spin 1.6s linear infinite;
  pointer-events: none;
}

@keyframes fullscreen-spin {
  from {
    opacity: 0.4;
    margin-top: 0px;
  }
  50% {
    opacity: 0.9;
    margin-top: 20px;
  }
  to {
    opacity: 0.4;
    margin-top: 0px;
  }
}

#orientation {
  position: fixed;
  z-index: 1002;
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

#orientation .icon {
  position: fixed;
  z-index: 1001;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  width: 50%;
  aspect-ratio: 1/1;
  max-width: 500px;
  background-size: cover;
  background-image: url(./public/landscape.png);
  /* animation: rotateAnimation 2s linear infinite; */
}

#orientation .icon.portrait {
  width: 36%;
  transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

#logo {
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 0;
  transform: translateX(-50%) translateY(-50%);
}
